@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional custom vars */
:root{
  --bg: #f5f7fa;
  --card: #fff;
  --text: #111827;
}
.dark{
  --bg: #0b1220;
  --card: #071127;
  --text: #e6eef8;
}

body{
  background: var(--bg);
  color: var(--text);
}
